body {
    font-family: sans-serif;
    margin: 1em auto;
    width: 80%;
}

header {
    text-align: center;
    margin-bottom: 1em;
}

header h1 {
    margin: 0;
    padding: 0;
}

#app-wrapper {
    margin: 1em auto;
}

footer {
    margin: 1em 0;
    text-align: center;
    color: #b3b3b3;
}

.center {
    text-align: center;
    margin: 0 auto;
}